
body{
  background-image: radial-gradient(#3f5efb,#fc466b );
  height: 100vh;
}

h1{
    text-align: center;
}
.cuadro{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.resultado{
    display: inline-block;
    border: 2px solid rgb(36, 32, 32) ;
    padding: 20px;
}